{% extends 'layout.html' %}
{% from 'components/ui/button.html' import Button %}
{% from 'components/ui/input.html' import Input %}
{% from 'components/ui/flash.html' import Flash %}


{% block content %}

    <section class="max-w-7xl mx-auto">
        <div class="flex flex-col justify-center items-center gap-6 h-screen">
            <div class="w-1/3">
              <h2 class="text-text-1 text-2xl">Glint</h2>
              <p class="text-text-1/40 text-sm ">
                Rejoingnez une communauté où le raffinement rencontre l'authenticité
              </p>
            </div>

            <div class="bg-card border-border rounded-xs shadow-sm p-6 w-1/3">
              <div class="flex flex-col items-start justify-center gap-1">
                <h1 class="tracking-widest font-light text-text-1 text-lg">
                  Inscription
                </h1>
                <p class="font-extralight text-text-1/40 text-sm">
                  Créez votre compte pour commencer l'expérience
                </p>
              </div>

              <form class="flex flex-col items-start justify-center mt-8 w-full gap-4" method="POST" action="{{ url_for('auth.register') }}">
                  {{ Input("Nom & Prénom", placeholder="Entrez votre nom & prénom", name="auth_name", required=true) }}
                  {{ Input("Nom d'utilisateur", placeholder="Entrez votre nom d'utilisateur", name="auth_username", required=true) }}
                  {{ Input("Email", placeholder="Entrez votre email", name="auth_email", required=true, type="email") }}
                  {{ Input("Mot de passe", type="password", placeholder="Entrez votre mot de passe", name="auth_password", required=true) }}

                  {{ Flash() }}

                {{ Button("Se connecter", type="submit", size="lg", cls="w-full text-text-1 uppercase text-sm font-medium") }}
              </form>
              <div class="flex flex-col justify-center items-center mt-6">
                  <p class="text-text-1 text-xs mb-4">Déjà un compte ?
                    <a class="text-text-2 cursor-pointer transition-colors duration-300 hover:text-primary" href="/login">
                        Se connecter à votre compte
                    </a>
                  </p>

                <p class="font-extralight text-text-1/60 text-sm">
                  <a href="/" class="text-text-1 font-medium hover:underline">
                    Retour à l'accueil
                  </a>
                </p>
              </div>
            </div>
          </div>
    </section>

{% endblock %}