# Environnement
.env
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de données
*.db
*.sqlite3
instance/

# Node
node_modules/

# Docker
.dockerignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db