{% extends 'layout.html' %}
{% from 'components/layout/dashboard_headers.html' import DashboardHeaders %}

{% set active_tab = tab %}

{% block content %}

    <section
            class="h-screen max-w-7xl mx-auto grid grid-cols-4 gap-4 animate-in fade-in slide-in-from-bottom-5 duration-1000">
        <div class="col-span-1">
            {{ DashboardHeaders(user=current_user, active_tab=active_tab) }}
        </div>
        <div class="col-span-2">
            {% if tab == "fill" %}
                {% include "dashboard/tab/fill.html" %}
            {% endif %}
        </div>
        <div class="col-span-1">

        </div>
    </section>

{% endblock %}