{% extends 'layout.html' %}
{% from 'components/layout/dashboard_headers.html' import DashboardHeaders %}

{% set active_tab = tab %}

{% block content %}

    <section
            class="h-screen flex flex-col items-center justify-start w-full animate-in fade-in slide-in-from-top-5 duration-1000">
        {{ DashboardHeaders(user=current_user, active_tab=active_tab) }}
        <div class="grid grid-cols-1 md:grid-cols-5 w-full">

            <div class="col-span-1 hidden md:flex">
                {% include "dashboard/profile_aside.html" %}
            </div>

            <div class="col-span-3">
                {% if tab == "fill" %}
                    {% include "dashboard/tab/fill.html" %}
                {% endif %}
            </div>

            <div class="col-span-1 hidden md:flex"></div>

        </div>
    </section>

{% endblock %}