{% from 'components/ui/button.html' import Button %}

{% block content %}

    <aside class="flex flex-col items-center gap-4 px-4 py-32 w-full h-full">
        <div class="flex flex-col rounded-xs bg-card border border-border w-full">
            {% if current_user.banner %}
                <header class="w-full h-14">
                    <img src="static/uploads/banner/{{ current_user.banner }}" alt="{{ current_user.name }}"/>
                </header>
            {% endif %}
            <div class="px-4 py-6 space-y-2">
                {% if current_user.avatar %}
                    <div class="border border-border cursor-pointer h-12 w-12">
                        <img src="static/uploads/avatar/{{ current_user.avatar }}" alt="{{ current_user.name }}"/>
                    </div>
                {% else %}
                    <div class="border border-border cursor-pointer h-12 w-12 rounded-full flex items-center justify-center">
                        <p class="text-xl font-black text-text-1">
                            {{ current_user.name[0] }}
                        </p>
                    </div>
                {% endif %}
                <div>
                    <h2 class="font-medium text-text-1 text-lg">{{ current_user.name }}</h2>
                    <p class="font-light text-text-1/40 text-sm">@{{ current_user.username }}</p>

                    <p class="font-light text-text-1 text-sm">{{ current_user.location }}</p>

                    {{ Button("Modifier mon profile", cls="outline outline-border mt-4 cursor-pointer duration-300 hover:bg-background w-full", type="button") }}
                </div>
            </div>
        </div>
    </aside>

{% endblock %}