{% from "components/ui/button.html" import Button %}
{% from "components/ui/avatar.html" import Avatar %}

{% block content %}
    <section
            class="flex flex-col items-center justify-start py-32 px-4 w-full gap-4 animate-in slide-in-from-right-5 fade-in duration-500">
        <div class="flex items-center gap-2 bg-card px-6 py-4 rounded-full border border-border w-full">
            <label for="search" class="flex items-center">
                {{ Icon("search") }}
            </label>
            <input id="search" class="focus:outline-none focus:ring-offset-0" placeholder="Rechercher"/>
        </div>

        <div class="flex flex-col items-center gap-4 p-4 w-full">
            {% if all_users | length < 1 %}
                <p>Aucune suggestion pour le moment.</p>
            {% else %}
                {% for user in all_users %}
                    {% if user.id != current_user.id %}
                        <div class="flex items-center justify-between gap-2 w-full">
                            <a href="{{ url_for('dashboard.other_profile', user_id=user.id) }}" class="flex item-center gap-1 min-w-0">
                                {% if user.avatar %}
                                    {{ Avatar(user) }}
                                {% else %}
                                    <div class="border border-border cursor-pointer h-12 w-12 rounded-full flex items-center justify-center shrink-0">
                                        <p class="text-xl font-black text-text-1">
                                            {{ user.name[0] }}
                                        </p>
                                    </div>
                                {% endif %}
                                <div class="flex flex-col min-w-0">
                                    <p class="text-sm font-normal text-text-1 truncate">{{ user.name }}</p>
                                    <p class="text-xs font-normal text-text-1/40 truncate">@{{ user.username }}</p>
                                </div>
                            </a>

                            {% with target_user=user, btn_location="suggestion" %}
                                {% include 'partials/button_follow.html' %}
                            {% endwith %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}