{% from "components/ui/input.html" import Input %}
{% from "components/ui/button.html" import Button %}
{% from "components/ui/flash.html" import Flash %}
{% from "components/ui/posts_cards.html" import PostCards %}


{% block content %}

    <section
            class="flex flex-col items-center justify-start py-6 border-x border-border w-full bg-glass min-h-screen overflow-auto animate-in fade-in slide-in-from-bottom-5 duration-1000">
        <div class="flex items-start justify-between gap-4 w-full px-2 border-b border-border py-4">
            <div class="rounded-full flex items-center justify-center h-12 w-12">
                {% if current_user.avatar %}
                    <div class="border border-border cursor-pointer h-12 w-12">
                        <img src="static/uploads/avatar/{{ current_user.avatar }}" alt="{{ current_user.name }}"/>
                    </div>
                {% else %}
                    <div class="border border-border cursor-pointer h-12 w-12 rounded-full flex items-center justify-center">
                        <p class="text-xl font-black text-text-1">
                            {{ current_user.name[0] }}
                        </p>
                    </div>
                {% endif %}
            </div>

            <form action="{{ url_for("dashboard.index") }}" method="POST"
                  class="flex flex-col items-end justify-center w-full gap-4">
                {{ Input(required=true, placeholder="Quoi de neuf ?", name="post_content", cls="w-full pb-6 border-b border-border outline-none focus:outline-none focus:ring-0 focus:ring-offset-0") }}
                {{ Flash() }}
                <div class="flex items-center justify-end w-full">
                    {{ Button(label="Publier", variant="gold", type="submit", cls="rounded-sm px-6 py-4 text-sm bg-text-1 text-card hover:bg-primary/50 transition-all duration-300 cursor-pointer") }}
                </div>
            </form>
        </div>

        <div class="flex flex-col items-center gap-4 w-full mt-4 px-4">
            {% if posts | length < 1 %}
                <p class="text-sm text-text-1">Aucun post n'est disponible actuellement</p>
            {% else %}
                {% for post in posts %}
                    {{ PostCards(post, current_user) }}
                {% endfor %}
            {% endif %}
        </div>
    </section>

{% endblock %}