{% from "components/ui/icons.html" import Icon %}

{% set nav_items = [
    {"name": "Accueil", "icon": "fill", "url": "dashboard.index"},
    {"name": "Messages",  "icon": "messages", "url": "dashboard.messages"},
] %}

{# {"name": "Recherche",  "icon": "search", "url": "search"},#}

{% macro DashboardHeaders(user={}, active_tab="fill") %}

    <header class="fixed z-50 flex items-center justify-between py-4 px-6 w-full animate-in slide-in-from-left-5 fade-in duration-500 border-b border-border bg-card">
        <h1 class="uppercase font-black text-2xl tracking-widest flex-1">Glint</h1>

        <div class="hidden items-center justify-center gap-2 flex-1 md:flex">
            {% for item in nav_items %}
                <a href="{{ url_for(item.url) }}"
                   class="flex flex-col items-center px-4 py-2 transition-all duration-300
                              {{ 'text-primary font-semibold' if active_tab == item.url else 'text-text-2' }}">
                    {{ Icon(item.icon, cls="w-5 h-5") }}
                    {{ item.name }}
                </a>
            {% endfor %}
        </div>

        <div class="flex items-center gap-2 flex-1 justify-end">
            <div class="relative" id="my-account-wrapper">
                <button onclick="toggleDropdown()" class="flex items-center gap-2">
                    {% if user.avatar %}
                        <div class="border border-border cursor-pointer h-10 w-10 rounded-full">
                            <img src="{{ url_for('static', filename='uploads/avatars/' ~ user.avatar) }}"
                                 alt="Avatar de {{ user.name }}"
                                 class="h-full w-full object-cover transition-opacity duration-300 group-hover:opacity-50 rounded-full"
                            />
                        </div>
                    {% else %}
                        <div class="border border-border cursor-pointer h-10 w-10 rounded-full flex items-center justify-center bg-primary-light">
                            <p class="text-lg font-black text-text-1">
                                {{ user.name[0] }}
                            </p>
                        </div>
                    {% endif %}
                    {{ Icon("arrow-down") }}
                </button>

                <div id="my-account-dropdown"
                     class="hidden absolute right-0 top-full mt-2 rounded-sm flex flex-col items-start justify-center gap-4 border-border border bg-card text-sm py-4 px-6">
                    <a href="{{ url_for("dashboard.index") }}"
                       class="hover:text-primary transition-colors duration-300 w-full">
                        Profil
                    </a>
                    <a href="{{ url_for("settings.settings") }}"
                       class="hover:text-primary transition-colors duration-300 w-full">
                        Paramètres
                    </a>
                    <a href="{{ url_for('auth.logout') }}"
                       class="hover:text-primary transition-colors duration-300 w-full">
                        Déconnexion
                    </a>
                </div>
            </div>
        </div>
    </header>
    <script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
{% endmacro %}