{% from "components/ui/icons.html" import Icon %}

{% macro PostCards(item={}, current_user={}) %}
    <div class="flex flex-col justify-center items-start w-full p-8 border border-border rounded-sm shadow-xs">
        <div class="flex items-center justify-between gap-2 w-full">
            <div class="flex items-center gap-2">
                {% if item.author.avatar %}
                    <div class="border border-border cursor-pointer h-12 w-12">
                        <img src="static/uploads/avatar/{{ item.author.avatar }}" alt="{{ item.author.name }}"/>
                    </div>
                {% else %}
                    <div class="border border-border cursor-pointer h-12 w-12 rounded-full flex items-center justify-center">
                        <p class="text-xl font-black text-text-1">
                            {{ item.author.name[0] }}
                        </p>
                    </div>
                {% endif %}
                <div class="flex items-center gap-2">
                    <p class="text-text-1 font-medium tracking-tight text-sm">{{ item.author.name }}</p>
                    <p class="text-text-1/40 font-medium tracking-tight text-xs">@{{ item.author.username }}</p>
                </div>
            </div>
            {% if item.author.id == current_user.id %}
                <a class="flex items-center" href="{{ url_for('dashboard.delete_post', post_id=item.id) }}"
                   onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce post ?')">
                    {{ Icon("delete", cls="w-5 h-5 hover:stroke-destructive duration-300 transition-colors cursor-pointer") }}
                </a>
            {% endif %}
        </div>
        <p class="my-4 text-text-2 font-normal text-md">{{ item.content }}</p>
        <p class="text-xs font-light text-text-1/60">{{ item.created_at | timeago }}</p>
    </div>

{% endmacro %}